:root 
{

--feri: rgb(168, 236, 32);

}



.conteiner
{
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(photo/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(500px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registrationform
{
    width: 40%;
    height: 90%;
    
    border-radius: 10%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 40px;
    color: rgb(168, 236, 32);
    font-weight: bold;
}

.form1
{
    border:4px blue solid;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.nameemail
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    
}


.txt1
{
    color: var(--feri);
    margin-top: 10px;
}

.name
{
    border: none;
    border-bottom: 3px solid var(--feri);
    margin-top: 10px;
    
    
  
}

.email
{
    border: none;
    border-bottom: 3px solid var(--feri);
    margin-top: 10px;
    
}



.malefemalediv
{
    margin-top: 30px;
    
}

.txt2{
    color: var(--feri);
    margin-left: 20px;


}

.birthdiv
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-bottom: 3px solid var(--feri);
    
}

.txt3
{
    color: var(--feri);
    margin-bottom: 10px;
}

.country
{    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-bottom: 3px solid var(--feri);
}

.gold
{
    margin-top: 30px;
}

.sendcansel
{
    margin-top: 30px;
}

.reset
{
   
    color: white;
    border-radius: 20%;
}

.confirm
{
    background-color: green;
    color: white;
    border-radius: 20%;
}